body {
    background-color: #07131a;
    color: #7eb3bf;
    background: url(../images/backgrond.png) no-repeat center center fixed;
    font-family: "VT323", monospace;
    line-height: 1;
    padding: 32px 24px;
    

}

.header {
    background-color:;
    margin: 40px;
    z-index: 99;
    position: center;
    text-align: center;
    max-width: 100%;

}

.header h1 {
    background-color:;
    margin-bottom: 16px;
    font-size: 48px;
    max-width: 100%;
}

.header .subtitle {
    background-color:;
    color: #7eb3bf;
    font-size: 19px;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    background-color:;
    max-width: 1024px;
    margin: 0 auto;
    z-index: 99;
    position: relative;
}

.card {
    background-color:  #FFE2C3;
    border-radius: 16px;
    color: #0D3B75;
    padding: 32px;
    margin-bottom: 32px;

}

.card-header {
    background-color:#FFE2C3;
    margin-bottom: 32px;
    font-size: 21px;
    text-align: center;

}

.form-group textarea {
    background-color: rgba(255, 255, 255, 0.05);
    color: #0D3B75;
    width: 100%;
    min-height: 120px;
    padding: 16px;
    border: 1px solid #474646;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 20px;

}

.form-group textarea:focus {
    outline: none;
    border-color: #7eb3bf;

}

.form-group textarea::placeholder {
    color: #a19e9e;

}

.form-group .btn-magic {
    width: 50%;
    z-index: 99;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    background:#114c59;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "VT323", monospace;


}

.form-group .btn-magic:hover {
    transform: translateY(-2px);
    background: #3391a6;
    font-family: "VT323", monospace;

}

.preview-card {
    display: none;

}

.code-grid {
    display: flex;
    gap: 24px;

}

.code-card {
    background-color: #FFE2C3;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 24px;
    width: 50%;
    color: #7d1b1b

}

.code-title {
    font-size: 20px;
    margin-bottom: 16px;

}

.code-block {
    background-color: #E45102;
    color: #5eead4;
    padding: 16px;
    border-radius: 8px;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;

}

.form-group textarea  {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    ;
}